<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="dashboard">
        <item screen="dshbrd_PersistentDashboard.browse"/>
        <item screen="dshbrd_WidgetTemplate.browse"/>
    </menu>
    <menu id="administration">
        <item screen="mten_Tenant.browse"/>
        <item screen="entityLog.browse"/>
        <item screen="userSessions.browse"/>
        <item screen="quartz_JobModel.browse" caption="msg://io.jmix.quartz.screen.jobs/jobModelBrowse.menu"/>
    </menu>
    <menu id="reports" caption="msg://io.jmix.reportsui/menu.reports">
        <item id="report_Report.browse" caption="msg://io.jmix.reportsui/menu.report_Report.browse"/>
        <item id="report_ReportGroup.browse" caption="msg://io.jmix.reportsui/menu.report_ReportGroup.browse"/>
        <item id="report_Report.run" caption="msg://io.jmix.reportsui/menu.report_Report.run"/>
        <item id="report_ShowChart.screen" caption="msg://io.jmix.reportsui/menu.report_ShowChart.screen"/>
        <item id="report_ShowReportTable.screen" caption="msg://io.jmix.reportsui/menu.report_ShowReportTable.screen"/>
        <item id="report_ShowPivotTable.screen" caption="msg://io.jmix.reportsui/menu.report_ShowPivotTable.screen"/>
    </menu>
    <item screen="ui_JmxConsoleScreen" icon="UNLOCK_ACTION"/>
    <item screen="entityInspector.browse" icon="BINOCULARS"/>
    <item screen="sec_ResourceRoleModel.browse" caption="msg://io.jmix.securityui/menu.sec_ResourceRoleModel.browse"
          icon="SHIELD"/>
    <item screen="sec_RowLevelRoleModel.browse" caption="msg://io.jmix.securityui/menu.sec_RowLevelRoleModel.browse"
          icon="ALIGN_CENTER"/>
    <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"
          icon="PAINT_BRUSH"/>
    <menu id="application" caption="msg://io.embraceit.mccsproject/menu.application" icon="CODEPEN">
        <item screen="mccs_User.browse" caption="msg://io.embraceit.mccsproject.screen.user/UserBrowse.caption"
              icon="USER_CIRCLE_O"/>
    </menu>
</menu-config>